body {
    background-color: #798086 !important
}

.money-box {
    background-color: #eee;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.money-box span {
    color: #333;
    font-size: 42px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}